
/*  WireBootstrap style sheet for iCheck lists
*/
.eb-icheck-hidden{
    display:none
}

.eb-icheck-list-ul {
    list-style:none;padding-inline-start:5px
}

.eb-icheck-list-li {
    padding-bottom:10px
}

.eb-icheck-filter-ul {
    list-style:none;padding-inline-start:0px;padding-top:6px
}

.eb-icheck-filter-li {
    padding-bottom:4px;padding-left:4px;padding-right:4px;
}

.icheck_line-icon.eb-icheck_line-no-icon {
    background:inherit !important;
    border: 1px solid transparent !important;
 
}

/* filter spacing */
.eb-icheck-filter .row, .eb-icheck-filter .row .col-md-12 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;    
    padding-left: 0px;
}
.eb-icheck-filter .row .input-group {
    margin-bottom: 2px;    
}